# Interpolate & its various  techniques

**Syntax:** DataFrame.interpolate()

**Parameter:** method | axis | limit | inplace | limit_direction | limit_area

In [2]:
import pandas as pd

In [7]:
df = pd.read_csv("youtube_dataset\\glory.csv")
df

    StdID       Date  Study  Sleeping  Social Media  Mobile  Percant   D1
0  1001.0   7/1/2020    2.0       9.0           3.0     5.0     50.0  Yes
1  1002.0   7/2/2020    NaN       8.0           2.0     8.0     80.0  NaN
2  1003.0   7/3/2020    3.0       NaN           NaN     5.0     60.0  Yes
3     NaN   7/4/2020    0.0      10.0           NaN     6.0     45.0  Yes
4     NaN   7/5/2020    NaN       7.0           NaN     7.0      NaN  NaN
5  1006.0   7/6/2020    NaN       7.0           0.0     4.0      NaN   No
6  1007.0   7/7/2020    4.0       6.0           0.0     6.0     80.0   No
7  1008.0   7/8/2020   10.0       6.0           2.0     NaN     90.0  NaN
8  1009.0   7/9/2020    2.0       8.0           2.0     6.0     60.0  NaN
9  1010.0  7/10/2020    6.0       9.0           1.0     5.0     85.0  Yes

In [3]:
## Linear (Default)

df.interpolate()                    
df.interpolate(method="linear")

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
0,1001.0,7/1/2020,2.000000,9.0,3.0,5.0,50.000000,Yes
1,1002.0,7/2/2020,2.500000,8.0,2.0,8.0,80.000000,NaN
2,1003.0,7/3/2020,3.000000,9.0,1.5,5.0,60.000000,Yes
3,1004.0,7/4/2020,0.000000,10.0,1.0,6.0,45.000000,Yes
4,1005.0,7/5/2020,1.333333,7.0,0.5,7.0,56.666667,NaN
5,1006.0,7/6/2020,2.666667,7.0,0.0,4.0,68.333333,No
6,1007.0,7/7/2020,4.000000,6.0,0.0,6.0,80.000000,No
7,1008.0,7/8/2020,10.000000,6.0,2.0,6.0,90.000000,NaN
8,1009.0,7/9/2020,2.000000,8.0,2.0,6.0,60.000000,NaN
9,1010.0,7/10/2020,6.000000,9.0,1.0,5.0,85.000000,Yes

In [8]:
## Time

print(type(df["Date"][0]))     ## Verifying datatype of "Date" column 

df = pd.read_csv("youtube_dataset\\glory.csv", parse_dates=["Date"])    ## Changing datatype from "str to "Timestamp"
print(type(df["Date"][0]))

df.index = df["Date"]      ## Setting Index as Date
df.interpolate(method="time")

<class 'str'>
<class 'pandas._libs.tslibs.timestamps.Timestamp'>

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
Date,,,,,,,,
2020-07-01,1001.0,2020-07-01,2.000000,9.0,3.0,5.0,50.000000,Yes
2020-07-02,1002.0,2020-07-02,2.500000,8.0,2.0,8.0,80.000000,NaN
2020-07-03,1003.0,2020-07-03,3.000000,9.0,1.5,5.0,60.000000,Yes
2020-07-04,1004.0,2020-07-04,0.000000,10.0,1.0,6.0,45.000000,Yes
2020-07-05,1005.0,2020-07-05,1.333333,7.0,0.5,7.0,56.666667,NaN
2020-07-06,1006.0,2020-07-06,2.666667,7.0,0.0,4.0,68.333333,No
2020-07-07,1007.0,2020-07-07,4.000000,6.0,0.0,6.0,80.000000,No
2020-07-08,1008.0,2020-07-08,10.000000,6.0,2.0,6.0,90.000000,NaN
2020-07-09,1009.0,2020-07-09,2.000000,8.0,2.0,6.0,60.000000,NaN
2020-07-10,1010.0,2020-07-10,6.000000,9.0,1.0,5.0,85.000000,Yes

In [7]:
## Index

df.index = [i for i in range(11,21)] ## Changing index
df.interpolate(method="index")

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
11,1001.0,2020-07-01,2.000000,9.0,3.0,5.0,50.000000,Yes
12,1002.0,2020-07-02,2.500000,8.0,2.0,8.0,80.000000,NaN
13,1003.0,2020-07-03,3.000000,9.0,1.5,5.0,60.000000,Yes
14,1004.0,2020-07-04,0.000000,10.0,1.0,6.0,45.000000,Yes
15,1005.0,2020-07-05,1.333333,7.0,0.5,7.0,56.666667,NaN
16,1006.0,2020-07-06,2.666667,7.0,0.0,4.0,68.333333,No
17,1007.0,2020-07-07,4.000000,6.0,0.0,6.0,80.000000,No
18,1008.0,2020-07-08,10.000000,6.0,2.0,6.0,90.000000,NaN
19,1009.0,2020-07-09,2.000000,8.0,2.0,6.0,60.000000,NaN
20,1010.0,2020-07-10,6.000000,9.0,1.0,5.0,85.000000,Yes

In [19]:
## Nearest

df.interpolate(method="nearest")

    StdID       Date  Study  Sleeping  Social Media  Mobile  Percant   D1
0  1001.0   7/1/2020    2.0       9.0           3.0     5.0     50.0  Yes
1  1002.0   7/2/2020    2.0       8.0           2.0     8.0     80.0  NaN
2  1003.0   7/3/2020    3.0       8.0           2.0     5.0     60.0  Yes
3  1003.0   7/4/2020    0.0      10.0           2.0     6.0     45.0  Yes
4  1006.0   7/5/2020    0.0       7.0           0.0     7.0     45.0  NaN
5  1006.0   7/6/2020    4.0       7.0           0.0     4.0     80.0   No
6  1007.0   7/7/2020    4.0       6.0           0.0     6.0     80.0   No
7  1008.0   7/8/2020   10.0       6.0           2.0     6.0     90.0  NaN
8  1009.0   7/9/2020    2.0       8.0           2.0     6.0     60.0  NaN
9  1010.0  7/10/2020    6.0       9.0           1.0     5.0     85.0  Yes

In [18]:
## Polynomial

# df.index = df["Date"]
df.interpolate(method="polynomial", order=2)

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
0,1001.0,7/1/2020,2.000000,9.000000,3.000000,5.00000,50.000000,Yes
1,1002.0,7/2/2020,3.863654,8.000000,2.000000,8.00000,80.000000,NaN
2,1003.0,7/3/2020,3.000000,9.539176,1.253253,5.00000,60.000000,Yes
3,1004.0,7/4/2020,0.000000,10.000000,0.759758,6.00000,45.000000,Yes
4,1005.0,7/5/2020,-1.590580,7.000000,0.386384,7.00000,46.229706,NaN
5,1006.0,7/6/2020,-0.872935,7.000000,0.000000,4.00000,61.993978,No
6,1007.0,7/7/2020,4.000000,6.000000,0.000000,6.00000,80.000000,No
7,1008.0,7/8/2020,10.000000,6.000000,2.000000,6.72611,90.000000,NaN
8,1009.0,7/9/2020,2.000000,8.000000,2.000000,6.00000,60.000000,NaN
9,1010.0,7/10/2020,6.000000,9.000000,1.000000,5.00000,85.000000,Yes

In [10]:
## Spline

df.interpolate(method="spline", order=2)

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
11,1001.0,2020-07-01,2.000000,9.00000,3.000000,5.000000,50.000000,Yes
12,1002.0,2020-07-02,1.594394,8.00000,2.000000,8.000000,80.000000,NaN
13,1003.0,2020-07-03,3.000000,8.09083,1.405352,5.000000,60.000000,Yes
14,1004.0,2020-07-04,0.000000,10.00000,0.942454,6.000000,45.000000,Yes
15,1005.0,2020-07-05,1.948846,7.00000,0.654917,7.000000,43.722545,NaN
16,1006.0,2020-07-06,3.045114,7.00000,0.000000,4.000000,54.710047,No
17,1007.0,2020-07-07,4.000000,6.00000,0.000000,6.000000,80.000000,No
18,1008.0,2020-07-08,10.000000,6.00000,2.000000,5.855284,90.000000,NaN
19,1009.0,2020-07-09,2.000000,8.00000,2.000000,6.000000,60.000000,NaN
20,1010.0,2020-07-10,6.000000,9.00000,1.000000,5.000000,85.000000,Yes

In [17]:
## Parameter: Limit & limit-direction

print(df)
# df.interpolate(limit=1, limit_directions="forward")
# df.interpolate(limit=1, limit_directions="backward")
df.interpolate(limit=1, limit_directions="both")

    StdID       Date  Study  Sleeping  Social Media  Mobile  Percant   D1
0  1001.0   7/1/2020    2.0       9.0           3.0     5.0     50.0  Yes
1  1002.0   7/2/2020    NaN       8.0           2.0     8.0     80.0  NaN
2  1003.0   7/3/2020    3.0       NaN           NaN     5.0     60.0  Yes
3     NaN   7/4/2020    0.0      10.0           NaN     6.0     45.0  Yes
4     NaN   7/5/2020    NaN       7.0           NaN     7.0      NaN  NaN
5  1006.0   7/6/2020    NaN       7.0           0.0     4.0      NaN   No
6  1007.0   7/7/2020    4.0       6.0           0.0     6.0     80.0   No
7  1008.0   7/8/2020   10.0       6.0           2.0     NaN     90.0  NaN
8  1009.0   7/9/2020    2.0       8.0           2.0     6.0     60.0  NaN
9  1010.0  7/10/2020    6.0       9.0           1.0     5.0     85.0  Yes

,StdID,Date,Study,Sleeping,Social Media,Mobile,Percant,D1
0,1001.0,7/1/2020,2.000000,9.0,3.0,5.0,50.000000,Yes
1,1002.0,7/2/2020,2.500000,8.0,2.0,8.0,80.000000,NaN
2,1003.0,7/3/2020,3.000000,9.0,1.5,5.0,60.000000,Yes
3,1004.0,7/4/2020,0.000000,10.0,NaN,6.0,45.000000,Yes
4,NaN,7/5/2020,1.333333,7.0,NaN,7.0,56.666667,NaN
5,1006.0,7/6/2020,NaN,7.0,0.0,4.0,NaN,No
6,1007.0,7/7/2020,4.000000,6.0,0.0,6.0,80.000000,No
7,1008.0,7/8/2020,10.000000,6.0,2.0,6.0,90.000000,NaN
8,1009.0,7/9/2020,2.000000,8.0,2.0,6.0,60.000000,NaN
9,1010.0,7/10/2020,6.000000,9.0,1.0,5.0,85.000000,Yes